Visa requirements for Micronesian citizens

Visa requirements for Micronesian citizens are administrative entry restrictions by the authorities of other states placed on citizens of the Federated States of Micronesia.

 As of 1 January 2017, Micronesian citizens had visa-free or visa on arrival access to 106 countries and territories, ranking the Micronesian passport 51st in terms of travel freedom (tied with Russian passport) according to the Henley visa restrictions index.