.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
naive_rag_index_storage_50_samples/
naive_rag_index_storage_100_samples/
naive_rag_index_storage_1000_samples/
IFLOW.md
duplicated/
official_evaluate.py
dev_readme.md
graphrag_hotpotqa_data/
graphrag_hotpotqa_data_15_samples/
graphrag_ollama_hotpotqa_test_data/
graphrag_ollama_hotpotqa_1000_test_data/

graphrag_class_test_data/
temp_dev_note.txt
temp_dev_note.md

naive_rag_index_hotpotqa_1000_samples/
naive_rag_index_hotpotqa_train_5000_samples/
graphrag_index_hotpotqa_train_5000_samples/

*.pt
router_models/
no_use/
temp/
analysis/